.design-container, .application-container, .ecommerce-container, .title {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all 0.2s ease;
}

button {
  cursor: pointer;
}

.header, .main {
  padding: 40px 126px 0 126px;
}

.header-logo {
  margin-bottom: 45px;
}

.header-line {
  border-top: 1px solid #EFEEF3;
  margin-bottom: 55px;
}

.title .services {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
  margin-bottom: 17px;
}
.title .heading-text {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin-bottom: 35px;
}

.main-info {
  display: flex;
  flex-direction: row;
}

.design-container, .application-container, .ecommerce-container {
  border: 1px solid #E5EAF4;
  border-radius: 5px;
  padding: 40px 45px 45px 40px;
  margin-right: 40px;
}
.design-container:hover, .application-container:hover, .ecommerce-container:hover {
  border-color: #007FFC;
}

.megafon-icon_container, .book-icon_container, .house-icon_container {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(21, 101, 216, 0.1);
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.megafon-icon_container svg, .book-icon_container svg, .house-icon_container svg {
  display: inline-block;
  width: 38.46px;
  height: 34.73px;
}

.design-heading, .application-container .application-heading, .ecommerce-container .ecommerce-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin-top: 30px;
}

.design-text, .application-container .application-text, .ecommerce-container .ecommerce-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #16133D;
  margin-top: 15px;
}

.design-footer, .application-container .application-footer, .ecommerce-container .ecommerce-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #16133D;
  margin-top: 30px;
}

.ecommerce-container:hover {
  border-color: #3DB370;
}
.footer {
  margin-top: 70px;
  background-color: #16133D;
  padding: 40px 126px 45px 126px;
}
.footer .soc_links {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.footer .soc_links li {
  margin-left: 7px;
}
.footer .soc_links li a {
  width: 35px;
  height: 35px;
  background-color: #EFEEF3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer .icon {
  display: inline-block;
  width: 19px;
  height: 19px;
}
.footer .soc_links li a:hover i {
  color: #3DB370;
}