* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 1100px;
    height: 590px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.form-section {
    padding: 20px 20px 30px 20px;
    width: 540px;
    background-color: #fff;
}

.heading-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1C1C1C;
}

.initials__container {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-right: 10px;
}

input {
    border: none;
}

input:focus {
    outline: 1px solid #007BFF;
}

input[type=text] {
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #fff;
    margin-top: 7px;
}

.first-form__email {
    width: 500px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #fff;
    margin-top: 7px;
}

.warning {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.location {
    display: flex;
    justify-content: space-between;
}

select {
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #fff;
    margin-top: 7px;
}

select:focus {
    outline: 1px solid #007BFF;
}

select:first-of-type {
    color: #969696;
}

.form-elem {
    margin-top: 20px;
}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio]+label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
}

input[type=radio]+label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

input[type=radio]+label::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
    transition: all .2s ease;
    background-color: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    outline: 7px solid #007BFF;
}

input[type=radio]:checked+label::after {
    opacity: 1;
}

input[type=radio]:disabled+label::before {
    opacity: 0.8;
    border-color: #E4E4E4;
}

input[type=radio]:checked:disabled+label::after {
    opacity: 1;
    background-color: gray;
}

.form-btn {
    width: 500px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #007BFF;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    cursor: pointer;
}

.arrangement__section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.arrangement-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

a {
    text-decoration: none;
    color: #007BFF;
}

.line {
    border-top: 1px solid #E4E4E4;
}

.entry__section {
    display: flex;
    justify-content: center;
}

.entry-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.second-form {
    margin-left: 20px;
}

.portrait-container {
    width: 278px;
    height: 132px;
}

.portrait-upload {
    display: flex;
    justify-content: space-between;
}

.yourPhoto {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.photo-upload__section {
    display: flex;
    justify-content: space-between;
}

.file {
    width: 138px;
    height: 30px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 7px;
}

input[type=file] {
    opacity: 0;

}

.camera-icon__section {
    position: relative;
    margin-top: 0;
    margin-left: 0;

}

.camera-icon {
    width: 13px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 115px;

}

.trash-icon__section {
    width: 30px;
    height: 30px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    margin-left: 10px;
    margin-top: 7px;
}

.trash-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 9px;
}

.photo-size__container {
    margin-top: 10px;
}


.photo-size__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.second-form__email {
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #fff;
    margin-top: 7px;
}

.number-form {
    display: flex;
    justify-content: space-between;
}

.zipCode {
    margin-right: 10px;
}

.profile-btn {
    width: 150px;
    height: 38px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #007BFF;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    cursor: pointer;
}