@media screen and (max-width:830px) {

    .skill {
        width: 50%;
    }

    .about-me_text {
        width: 480px;
    }

    .footer {
        width: 480px;
    }
}

@media screen and (max-width:640px) {
    #main-menu {
        display: none;
    }

    #hamb-menu {
        display: block;
        padding-left: 200px;
    }

    .imageSection {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:480px) {

    .skills {
        padding: 50px 0;
    }

    .about-me {
        padding: 50px 0;
    }

    .portfolio {
        padding: 50px 0;

        .portfolio-photos {
            margin-top: 50px;
        }
    }

    .footer {
        padding: 50px 0;
    }

    .about-me_text {
        width: 320px;
    }

    .footer {
        width: 300px;
    }

    .social_icon_block ul {
        width: 250px;
    }
}

@media screen and (max-width:320px) {

    .skill {
        width: 100%;
    }
}